# Database
POSTGRES_URL=postgresql://user:password@localhost:5432/shipfood

# Vercel Postgres
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here_change_in_production

# PayPal
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=AcQIZiWYrlQwA8H0OFYTYsFbtLudBVoVBzo7_VP6Ps5bw3qUr6FgDGdZ_DBpXd4A-GcT6gojb_XgNdtz
PAYPAL_CLIENT_SECRET=EJTZ2536WoJHC6TtDXihH_0ZrcfI3podDd05NBBLi6r0aQ4XdxQztgzl8H4KHITdkM7jsH9Q8bxQnSS8

# Vercel Blob (File Upload)
BLOB_READ_WRITE_TOKEN=

# API URL
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000

# Node Environment
NODE_ENV=development
