USE [master]
GO
/****** Object:  Database [dbFoody]    Script Date: 18-10-2024 12:42:29 PM ******/
CREATE DATABASE [dbFoody]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbFoody', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbFoody.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbFoody_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbFoody_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbFoody].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbFoody]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_TinhKC]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--5.Function tính khoảng cách
CREATE FUNCTION [dbo].[Func_TinhKC]
(
    @from GEOGRAPHY,
    @to GEOGRAPHY
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @distance FLOAT;
    SET @distance = ceiling(@from.STDistance(@to) / 1000); 
    RETURN @distance;
END;
GO
/****** Object:  Table [dbo].[tbAdmin]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAdmin](
	[userid] [int] NOT NULL,
	[tenadmin] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietDonHang]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietDonHang](
	[mactdh] [int] IDENTITY(1,1) NOT NULL,
	[madh] [int] NULL,
	[mamon] [int] NULL,
	[soluong] [int] NULL,
	[dongia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[mactdh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDanhGia]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDanhGia](
	[madg] [int] IDENTITY(1,1) NOT NULL,
	[mactdh] [int] NULL,
	[diemdanhgia] [int] NULL,
	[nhanxet] [nvarchar](500) NULL,
	[hinhanh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[madg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDanhMuc]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDanhMuc](
	[madanhmuc] [int] IDENTITY(1,1) NOT NULL,
	[tendanhmuc] [nvarchar](100) NOT NULL,
	[mota] [nvarchar](250) NULL,
	[hinhanh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[madanhmuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDonHang]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDonHang](
	[madh] [int] IDENTITY(1,1) NOT NULL,
	[maquan] [int] NULL,
	[mattdh] [int] NULL,
	[ngaydathang] [datetime] NULL,
	[trangthai] [nvarchar](50) NULL,
	[tongtien] [money] NULL,
	[hinhthucthanhtoan] [int] NULL,
	[ghichu] [nvarchar](200) NULL,
	[makhuyenmai] [int] NULL,
	[phiship] [money] NULL,
	[phidichvu] [money] NULL,
	[ngaygiaohang] [datetime] NULL,
	[ngaythanhtoan] [datetime] NULL,
	[mashipper] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[madh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[userid] [int] NOT NULL,
	[tenkh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhuyenMai]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhuyenMai](
	[makm] [int] IDENTITY(1,1) NOT NULL,
	[tenkm] [nvarchar](100) NOT NULL,
	[mota] [nvarchar](500) NULL,
	[loaikm] [nvarchar](200) NOT NULL,
	[phantramgiam] [int] NULL,
	[dieukien] [nvarchar](500) NULL,
	[ngaybatdau] [datetime] NULL,
	[ngayketthuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[makm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLoaiHinhThanhToan]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLoaiHinhThanhToan](
	[mahttt] [int] IDENTITY(1,1) NOT NULL,
	[tenhinhthuc] [nvarchar](100) NOT NULL,
	[mota] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[mahttt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMonAn]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMonAn](
	[mamon] [int] IDENTITY(1,1) NOT NULL,
	[tenmon] [nvarchar](100) NOT NULL,
	[mota] [nvarchar](500) NULL,
	[giatien] [money] NULL,
	[hinhanh] [varchar](50) NULL,
	[maquanan] [int] NULL,
	[madanhmuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMonAnKhuyenMai]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMonAnKhuyenMai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[makm] [int] NULL,
	[mamon] [int] NULL,
	[soluong] [int] NULL,
	[trangthai] [nvarchar](50) NULL,
	[phantramgiam] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbQuanAn]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQuanAn](
	[userid] [int] NOT NULL,
	[tenquanan] [nvarchar](100) NOT NULL,
	[diachi] [nvarchar](250) NOT NULL,
	[toado] [geography] NULL,
	[soluotdanhgia] [int] NULL,
	[diemdanhgia] [decimal](18, 0) NULL,
	[trangthai] [nvarchar](50) NULL,
	[hinhanh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbShipper]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbShipper](
	[userid] [int] NOT NULL,
	[tenshipper] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](250) NOT NULL,
	[toado] [geography] NULL,
	[diemdanhgia] [decimal](18, 0) NULL,
	[soluotdanhgia] [int] NULL,
	[trangthai] [nvarchar](50) NULL,
	[hinhanh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbThongTinDatHang]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbThongTinDatHang](
	[mattdh] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [varchar](11) NOT NULL,
	[diachi] [nvarchar](250) NOT NULL,
	[toado] [geography] NOT NULL,
	[tennguoinhan] [nvarchar](50) NOT NULL,
	[userid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mattdh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTinNhan]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTinNhan](
	[matn] [int] IDENTITY(1,1) NOT NULL,
	[madh] [int] NULL,
	[noidung] [nvarchar](500) NULL,
	[mashipper] [int] NULL,
	[makh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[matn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 18-10-2024 12:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[pwd] [nvarchar](50) NOT NULL,
	[loaitaikhoan] [nvarchar](50) NOT NULL,
	[sdt] [varchar](11) NOT NULL,
	[vitien] [money] NULL,
	[email] [varchar](50) NOT NULL,
	[trangthai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbAdmin] ([userid], [tenadmin]) VALUES (16, N'Admin 1')
INSERT [dbo].[tbAdmin] ([userid], [tenadmin]) VALUES (17, N'Admin 2')
INSERT [dbo].[tbAdmin] ([userid], [tenadmin]) VALUES (18, N'Admin 3')
GO
SET IDENTITY_INSERT [dbo].[tbChiTietDonHang] ON 

INSERT [dbo].[tbChiTietDonHang] ([mactdh], [madh], [mamon], [soluong], [dongia]) VALUES (1, 1, 1, 1, 50000.0000)
INSERT [dbo].[tbChiTietDonHang] ([mactdh], [madh], [mamon], [soluong], [dongia]) VALUES (2, 1, 2, 2, 75000.0000)
INSERT [dbo].[tbChiTietDonHang] ([mactdh], [madh], [mamon], [soluong], [dongia]) VALUES (3, 2, 2, 1, 60000.0000)
SET IDENTITY_INSERT [dbo].[tbChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tbDanhMuc] ON 

INSERT [dbo].[tbDanhMuc] ([madanhmuc], [tendanhmuc], [mota], [hinhanh]) VALUES (1, N'Đồ ăn', N'Các món ăn khác nhau từ nhiều nền văn hóa và phong cách ẩm thực khác nhau.', N'do_an.jpg')
INSERT [dbo].[tbDanhMuc] ([madanhmuc], [tendanhmuc], [mota], [hinhanh]) VALUES (2, N'Đồ uống', N'Các loại đồ uống như nước ngọt, nước trái cây, nước ép, nước lọc, trà, cà phê, cocktail, và nhiều loại đồ uống khác.', N'do_uong.jpg')
INSERT [dbo].[tbDanhMuc] ([madanhmuc], [tendanhmuc], [mota], [hinhanh]) VALUES (3, N'Đồ chay', N'Các món ăn không chứa thịt hoặc bất kỳ sản phẩm động vật nào.', N'do_chay.jpg')
SET IDENTITY_INSERT [dbo].[tbDanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[tbDonHang] ON 

INSERT [dbo].[tbDonHang] ([madh], [maquan], [mattdh], [ngaydathang], [trangthai], [tongtien], [hinhthucthanhtoan], [ghichu], [makhuyenmai], [phiship], [phidichvu], [ngaygiaohang], [ngaythanhtoan], [mashipper]) VALUES (1, 10, 1, CAST(N'2024-05-16T08:00:00.000' AS DateTime), N'Hoàn thành', 100000.0000, 1, N'Ghi chú đơn hàng', NULL, 0.0000, 5000.0000, CAST(N'2024-05-20T08:00:00.000' AS DateTime), CAST(N'2024-05-20T08:00:00.000' AS DateTime), 3)
INSERT [dbo].[tbDonHang] ([madh], [maquan], [mattdh], [ngaydathang], [trangthai], [tongtien], [hinhthucthanhtoan], [ghichu], [makhuyenmai], [phiship], [phidichvu], [ngaygiaohang], [ngaythanhtoan], [mashipper]) VALUES (2, 6, 1, CAST(N'2024-05-16T08:00:00.000' AS DateTime), N'Đã đặt', 90000.0000, 1, N'Ghi chú đơn hàng', 1, 0.0000, 5000.0000, CAST(N'2024-05-20T08:00:00.000' AS DateTime), CAST(N'2024-05-20T08:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[tbDonHang] OFF
GO
INSERT [dbo].[tbKhachHang] ([userid], [tenkh]) VALUES (1, N'Tran Thi B')
INSERT [dbo].[tbKhachHang] ([userid], [tenkh]) VALUES (2, N'Le Van C')
INSERT [dbo].[tbKhachHang] ([userid], [tenkh]) VALUES (5, N'Pham Thi D')
GO
SET IDENTITY_INSERT [dbo].[tbKhuyenMai] ON 

INSERT [dbo].[tbKhuyenMai] ([makm], [tenkm], [mota], [loaikm], [phantramgiam], [dieukien], [ngaybatdau], [ngayketthuc]) VALUES (1, N'Khuyến mãi mùa hè', N'Giảm giá 20% cho tất cả sản phẩm mùa hè', N'Giảm giá', 20, N'Sản phẩm mùa hè', CAST(N'2024-06-01T00:00:00.000' AS DateTime), CAST(N'2024-08-31T00:00:00.000' AS DateTime))
INSERT [dbo].[tbKhuyenMai] ([makm], [tenkm], [mota], [loaikm], [phantramgiam], [dieukien], [ngaybatdau], [ngayketthuc]) VALUES (2, N'Khuyến mãi sinh nhật', N'Giảm 30%  cho khách hàng sinh nhật trong tháng', N'Giảm giá', 30, N'Khách hàng sinh nhật', CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-05-17T00:00:00.000' AS DateTime))
INSERT [dbo].[tbKhuyenMai] ([makm], [tenkm], [mota], [loaikm], [phantramgiam], [dieukien], [ngaybatdau], [ngayketthuc]) VALUES (3, N'Khuyến mãi mua hàng lớn', N'Giảm giá 10% cho hóa đơn từ 1 triệu trở lên', N'Giảm giá', 10, N'Hóa đơn từ 1 triệu', CAST(N'2024-05-01T00:00:00.000' AS DateTime), CAST(N'2024-05-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbKhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[tbLoaiHinhThanhToan] ON 

INSERT [dbo].[tbLoaiHinhThanhToan] ([mahttt], [tenhinhthuc], [mota]) VALUES (1, N'Tiền mặt', N'Thanh toán khi nhận hàng')
INSERT [dbo].[tbLoaiHinhThanhToan] ([mahttt], [tenhinhthuc], [mota]) VALUES (2, N'Tài khoản ngân hàng', N'Liên kết tài khoản ngân hàng')
INSERT [dbo].[tbLoaiHinhThanhToan] ([mahttt], [tenhinhthuc], [mota]) VALUES (3, N'ZaloPay', N'Tài khoản ZaloPay liên kết')
SET IDENTITY_INSERT [dbo].[tbLoaiHinhThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[tbMonAn] ON 

INSERT [dbo].[tbMonAn] ([mamon], [tenmon], [mota], [giatien], [hinhanh], [maquanan], [madanhmuc]) VALUES (1, N'Trà tắc', N'Trà và tắc.', 10000.0000, N'tratac.jpg', 6, 2)
INSERT [dbo].[tbMonAn] ([mamon], [tenmon], [mota], [giatien], [hinhanh], [maquanan], [madanhmuc]) VALUES (2, N'Pizza thập cẩm _ Size M', N'Thịt, xúc xích, ớt chuông, bắp và phô mai', 80000.0000, N'banh_mi_op_la.jpg', 6, 8)
INSERT [dbo].[tbMonAn] ([mamon], [tenmon], [mota], [giatien], [hinhanh], [maquanan], [madanhmuc]) VALUES (3, N'Pizza Bò _ Size M', N'Bò, ớt chuông, bắp và phô mai', 70000.0000, N'pizza.jpg', 6, 8)
SET IDENTITY_INSERT [dbo].[tbMonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[tbMonAnKhuyenMai] ON 

INSERT [dbo].[tbMonAnKhuyenMai] ([id], [makm], [mamon], [soluong], [trangthai], [phantramgiam]) VALUES (1, 1, 1, 48, N'Hết hạn', 20)
INSERT [dbo].[tbMonAnKhuyenMai] ([id], [makm], [mamon], [soluong], [trangthai], [phantramgiam]) VALUES (2, 2, 2, 30, N'Hết hạn', 30)
INSERT [dbo].[tbMonAnKhuyenMai] ([id], [makm], [mamon], [soluong], [trangthai], [phantramgiam]) VALUES (3, 2, 3, 20, N'Hết hạn', 10)
SET IDENTITY_INSERT [dbo].[tbMonAnKhuyenMai] OFF
GO
INSERT [dbo].[tbQuanAn] ([userid], [tenquanan], [diachi], [toado], [soluotdanhgia], [diemdanhgia], [trangthai], [hinhanh]) VALUES (6, N'Koneko Pizza', N'K57H10/12 Bà Bang Nhãn, P. Hòa Hải,  Quận Ngũ Hành Sơn, Đà Nẵng', 0xE6100000010CF6285C8FC2F52F40EA04341136105B40, 75, CAST(5 AS Decimal(18, 0)), N'Đóng cửa', N'koneko.jpg')
INSERT [dbo].[tbQuanAn] ([userid], [tenquanan], [diachi], [toado], [soluotdanhgia], [diemdanhgia], [trangthai], [hinhanh]) VALUES (7, N'Cơm 1990 - Ngô Văn Sở', N'61 Ngô Văn Sở, P.Hòa Khánh Nam,  Quận Liên Chiểu, Đà Nẵng', 0xE6100000010C70CE88D2DE103040A01A2FDD240A5B40, 300, CAST(5 AS Decimal(18, 0)), N'Đang mở cửa', N'com1990.jpg')
INSERT [dbo].[tbQuanAn] ([userid], [tenquanan], [diachi], [toado], [soluotdanhgia], [diemdanhgia], [trangthai], [hinhanh]) VALUES (8, N'Bún Đậu Mắm Tôm Gia Di - Nguyễn Văn Thoại', N'100 Nguyễn Văn Thoại, P. Mỹ An,  Quận Ngũ Hành Sơn, Đà Nẵng', 0xE6100000010C956588635D0C30405D6DC5FEB20F5B40, 100, CAST(5 AS Decimal(18, 0)), N'Đang mở cửa', N'bundaugiadi.jpg')
GO
INSERT [dbo].[tbShipper] ([userid], [tenshipper], [diachi], [toado], [diemdanhgia], [soluotdanhgia], [trangthai], [hinhanh]) VALUES (3, N'Le Van Y', N'48 Cao Thắng, P.Thanh Bình, Quận Hải Châu, Đà Nẵng', NULL, CAST(4 AS Decimal(18, 0)), 80, N'Không hoạt động', N'shipper_y.jpg')
INSERT [dbo].[tbShipper] ([userid], [tenshipper], [diachi], [toado], [diemdanhgia], [soluotdanhgia], [trangthai], [hinhanh]) VALUES (4, N'Nguyen Thi Z', N'80 Huỳnh Ngọc Huệ,  Quận Thanh Khê, Đà Nẵng', NULL, CAST(5 AS Decimal(18, 0)), 120, N'Đang hoạt động', N'shipper_z.jpg')
GO
SET IDENTITY_INSERT [dbo].[tbThongTinDatHang] ON 

INSERT [dbo].[tbThongTinDatHang] ([mattdh], [sdt], [diachi], [toado], [tennguoinhan], [userid]) VALUES (1, N'0987654321', N'02 Thanh Sơn, Thanh Bình, Hải Châu, Đà Nẵng', 0xE6100000010CDFE00B93A9123040D34D6210580D5B40, N'Trần Thị B', 1)
INSERT [dbo].[tbThongTinDatHang] ([mattdh], [sdt], [diachi], [toado], [tennguoinhan], [userid]) VALUES (2, N'0901234567', N'48 Cao Thắng, Thanh Bình, Hải Châu, Đà Nẵng', 0xE6100000010C894160E5D0123040A857CA32C40D5B40, N'Lê Văn C', 2)
SET IDENTITY_INSERT [dbo].[tbThongTinDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTinNhan] ON 

INSERT [dbo].[tbTinNhan] ([matn], [madh], [noidung], [mashipper], [makh]) VALUES (1, 1, N'Đơn hàng của bạn đã được xác nhận', 3, 1)
INSERT [dbo].[tbTinNhan] ([matn], [madh], [noidung], [mashipper], [makh]) VALUES (2, 1, N'Đơn hàng của bạn đang được vận chuyển', 3, 1)
INSERT [dbo].[tbTinNhan] ([matn], [madh], [noidung], [mashipper], [makh]) VALUES (3, 1, N'Giao hàng đã thành công', 3, 1)
SET IDENTITY_INSERT [dbo].[tbTinNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[tbUser] ON 

INSERT [dbo].[tbUser] ([userid], [username], [pwd], [loaitaikhoan], [sdt], [vitien], [email], [trangthai]) VALUES (1, N'tranthib', N'abcdef', N'Khách hàng', N'0987654321', 2000.0000, N'tranthib@example.com', 1)
INSERT [dbo].[tbUser] ([userid], [username], [pwd], [loaitaikhoan], [sdt], [vitien], [email], [trangthai]) VALUES (2, N'levanc', N'qwerty', N'Khách hàng', N'0901234567', 1500.0000, N'levanc@example.com', 1)
INSERT [dbo].[tbUser] ([userid], [username], [pwd], [loaitaikhoan], [sdt], [vitien], [email], [trangthai]) VALUES (3, N'shippery', N'shipy456', N'Shipper', N'0955555555', 1000.0000, N'shippery@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[tbUser] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [email__uni]    Script Date: 18-10-2024 12:42:30 PM ******/
ALTER TABLE [dbo].[tbUser] ADD  CONSTRAINT [email__uni] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [sdt_uni]    Script Date: 18-10-2024 12:42:30 PM ******/
ALTER TABLE [dbo].[tbUser] ADD  CONSTRAINT [sdt_uni] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbDonHang] ADD  CONSTRAINT [ttdonhang_default]  DEFAULT ('Ðã d?t') FOR [trangthai]
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai] ADD  CONSTRAINT [ttkm_default]  DEFAULT ('Còn h?n') FOR [trangthai]
GO
ALTER TABLE [dbo].[tbQuanAn] ADD  CONSTRAINT [ttquan_default]  DEFAULT (N'Đóng cửa') FOR [trangthai]
GO
ALTER TABLE [dbo].[tbShipper] ADD  CONSTRAINT [ttshipper_default]  DEFAULT (N'Không hoạt động') FOR [trangthai]
GO
ALTER TABLE [dbo].[tbAdmin]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[tbUser] ([userid])
GO
ALTER TABLE [dbo].[tbChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([mamon])
REFERENCES [dbo].[tbMonAn] ([mamon])
GO
ALTER TABLE [dbo].[tbChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([madh])
REFERENCES [dbo].[tbDonHang] ([madh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbDanhGia]  WITH CHECK ADD FOREIGN KEY([mactdh])
REFERENCES [dbo].[tbChiTietDonHang] ([mactdh])
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD FOREIGN KEY([hinhthucthanhtoan])
REFERENCES [dbo].[tbLoaiHinhThanhToan] ([mahttt])
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD FOREIGN KEY([makhuyenmai])
REFERENCES [dbo].[tbKhuyenMai] ([makm])
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD FOREIGN KEY([maquan])
REFERENCES [dbo].[tbQuanAn] ([userid])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD FOREIGN KEY([mashipper])
REFERENCES [dbo].[tbShipper] ([userid])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD FOREIGN KEY([mattdh])
REFERENCES [dbo].[tbThongTinDatHang] ([mattdh])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tbKhachHang]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[tbUser] ([userid])
GO
ALTER TABLE [dbo].[tbMonAn]  WITH CHECK ADD FOREIGN KEY([madanhmuc])
REFERENCES [dbo].[tbDanhMuc] ([madanhmuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbMonAn]  WITH CHECK ADD FOREIGN KEY([maquanan])
REFERENCES [dbo].[tbQuanAn] ([userid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai]  WITH CHECK ADD FOREIGN KEY([mamon])
REFERENCES [dbo].[tbMonAn] ([mamon])
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai]  WITH CHECK ADD FOREIGN KEY([makm])
REFERENCES [dbo].[tbKhuyenMai] ([makm])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbQuanAn]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[tbUser] ([userid])
GO
ALTER TABLE [dbo].[tbShipper]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[tbUser] ([userid])
GO
ALTER TABLE [dbo].[tbThongTinDatHang]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[tbKhachHang] ([userid])
GO
ALTER TABLE [dbo].[tbTinNhan]  WITH CHECK ADD FOREIGN KEY([madh])
REFERENCES [dbo].[tbDonHang] ([madh])
GO
ALTER TABLE [dbo].[tbTinNhan]  WITH CHECK ADD FOREIGN KEY([makh])
REFERENCES [dbo].[tbKhachHang] ([userid])
GO
ALTER TABLE [dbo].[tbTinNhan]  WITH CHECK ADD FOREIGN KEY([mashipper])
REFERENCES [dbo].[tbShipper] ([userid])
GO
ALTER TABLE [dbo].[tbChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [ck_dgia] CHECK  (([dongia]>=(0)))
GO
ALTER TABLE [dbo].[tbChiTietDonHang] CHECK CONSTRAINT [ck_dgia]
GO
ALTER TABLE [dbo].[tbChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [ck_sl] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[tbChiTietDonHang] CHECK CONSTRAINT [ck_sl]
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD  CONSTRAINT [ck__trangthaidh] CHECK  (([trangthai]=N'Hoàn thành' OR [trangthai]=N'Đã lấy' OR [trangthai]=N'Đã xác nhận' OR [trangthai]=N'Đã hủy' OR [trangthai]=N'Đã đặt'))
GO
ALTER TABLE [dbo].[tbDonHang] CHECK CONSTRAINT [ck__trangthaidh]
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD  CONSTRAINT [ck_ngay_dhgh] CHECK  (([ngaydathang]<[ngaygiaohang]))
GO
ALTER TABLE [dbo].[tbDonHang] CHECK CONSTRAINT [ck_ngay_dhgh]
GO
ALTER TABLE [dbo].[tbDonHang]  WITH CHECK ADD  CONSTRAINT [ck_ngay_dhtt] CHECK  (([ngaythanhtoan]<=[ngaygiaohang]))
GO
ALTER TABLE [dbo].[tbDonHang] CHECK CONSTRAINT [ck_ngay_dhtt]
GO
ALTER TABLE [dbo].[tbKhuyenMai]  WITH CHECK ADD  CONSTRAINT [ck_date] CHECK  (([ngaybatdau]<[ngayketthuc]))
GO
ALTER TABLE [dbo].[tbKhuyenMai] CHECK CONSTRAINT [ck_date]
GO
ALTER TABLE [dbo].[tbMonAn]  WITH CHECK ADD  CONSTRAINT [ck_gia] CHECK  (([giatien]>=(0)))
GO
ALTER TABLE [dbo].[tbMonAn] CHECK CONSTRAINT [ck_gia]
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai]  WITH CHECK ADD  CONSTRAINT [ck_slkm] CHECK  (([soluong]>=(0)))
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai] CHECK CONSTRAINT [ck_slkm]
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai]  WITH CHECK ADD  CONSTRAINT [ck_ttkm] CHECK  (([trangthai]=N'Hết hạn' OR [trangthai]=N'Còn hạn'))
GO
ALTER TABLE [dbo].[tbMonAnKhuyenMai] CHECK CONSTRAINT [ck_ttkm]
GO
ALTER TABLE [dbo].[tbQuanAn]  WITH CHECK ADD  CONSTRAINT [ck_ddg_quan] CHECK  (([diemdanhgia]>=(0) AND [diemdanhgia]<=(5)))
GO
ALTER TABLE [dbo].[tbQuanAn] CHECK CONSTRAINT [ck_ddg_quan]
GO
ALTER TABLE [dbo].[tbQuanAn]  WITH CHECK ADD  CONSTRAINT [ck_sldg_quan] CHECK  (([soluotdanhgia]>=(0)))
GO
ALTER TABLE [dbo].[tbQuanAn] CHECK CONSTRAINT [ck_sldg_quan]
GO
ALTER TABLE [dbo].[tbQuanAn]  WITH CHECK ADD  CONSTRAINT [ck_ttquan] CHECK  (([trangthai]=N'Đóng cửa' OR [trangthai]=N'Đang mở cửa'))
GO
ALTER TABLE [dbo].[tbQuanAn] CHECK CONSTRAINT [ck_ttquan]
GO
ALTER TABLE [dbo].[tbShipper]  WITH CHECK ADD  CONSTRAINT [ck_ddg_shipper] CHECK  (([diemdanhgia]>=(0) AND [diemdanhgia]<=(5)))
GO
ALTER TABLE [dbo].[tbShipper] CHECK CONSTRAINT [ck_ddg_shipper]
GO
ALTER TABLE [dbo].[tbShipper]  WITH CHECK ADD  CONSTRAINT [ck_sldg_shipper] CHECK  (([soluotdanhgia]>=(0)))
GO
ALTER TABLE [dbo].[tbShipper] CHECK CONSTRAINT [ck_sldg_shipper]
GO
ALTER TABLE [dbo].[tbShipper]  WITH CHECK ADD  CONSTRAINT [ck_ttshipper] CHECK  (([trangthai]=N'Không hoạt động' OR [trangthai]=N'Đang hoạt động'))
GO
ALTER TABLE [dbo].[tbShipper] CHECK CONSTRAINT [ck_ttshipper]
GO
ALTER TABLE [dbo].[tbThongTinDatHang]  WITH CHECK ADD  CONSTRAINT [ck_sdt_dh] CHECK  ((len([sdt])=(10) AND [sdt] like '0%[0-9]' OR len([sdt])=(11) AND [sdt] like '0%[0-9]'))
GO
ALTER TABLE [dbo].[tbThongTinDatHang] CHECK CONSTRAINT [ck_sdt_dh]
GO
ALTER TABLE [dbo].[tbUser]  WITH CHECK ADD  CONSTRAINT [ck_ltk] CHECK  (([loaitaikhoan]=N'Admin' OR [loaitaikhoan]=N'Shipper' OR [loaitaikhoan]=N'Quán ăn' OR [loaitaikhoan]=N'Khách hàng'))
GO
ALTER TABLE [dbo].[tbUser] CHECK CONSTRAINT [ck_ltk]
GO
ALTER TABLE [dbo].[tbUser]  WITH CHECK ADD  CONSTRAINT [ck_sdt] CHECK  ((len([sdt])=(10) AND [sdt] like '0%[0-9]' OR len([sdt])=(11) AND [sdt] like '0%[0-9]'))
GO
ALTER TABLE [dbo].[tbUser] CHECK CONSTRAINT [ck_sdt]
GO
ALTER TABLE [dbo].[tbUser]  WITH CHECK ADD  CONSTRAINT [ck_trangthai] CHECK  ((([trangthai]=(2) OR [trangthai]=(1)) AND [loaitaikhoan]=N'Khách hàng' OR ([trangthai]=(3) OR [trangthai]=(2) OR [trangthai]=(1) OR [trangthai]=(0)) AND ([loaitaikhoan]=N'Admin' OR [loaitaikhoan]=N'Shipper' OR [loaitaikhoan]=N'Quán ăn')))
GO
ALTER TABLE [dbo].[tbUser] CHECK CONSTRAINT [ck_trangthai]
GO
ALTER TABLE [dbo].[tbUser]  WITH CHECK ADD  CONSTRAINT [ck_vitien] CHECK  (([vitien]>=(0)))
GO
ALTER TABLE [dbo].[tbUser] CHECK CONSTRAINT [ck_vitien]
GO
ALTER TABLE [dbo].[tbUser]  WITH CHECK ADD  CONSTRAINT [mail__lk] CHECK  (([email] like '%@%'))
GO
ALTER TABLE [dbo].[tbUser] CHECK CONSTRAINT [mail__lk]
GO
USE [master]
GO
